{% extends 'base.html.twig' %}

    
    {% block body %}
        <tbody>
            <table class="home_page">
               
            
                <tr>
                    <td colspan="4"><img src="{{ asset('images/banner_sach.png')}}" width="1000px"></td>

                </tr>
                <tr>
                    <td><img src="{{ asset('images/sach1.jpg')}}" width="250px"></td>
                    <td><img src="{{ asset('images/sach2.jpg')}}" width="250px"></td>
                    <td><img src="{{ asset('images/sach3.jpg')}}" width="250px"></td>
                    <td><img src="{{ asset('images/sach4.jpg')}}" width="250px"></td>
                </tr>
            </table>
        </tbody>
    {% endblock %}

