{% extends 'base.html.twig' %}

    {% block stylesheets %}
    <style>

    table {
        border: none;
        background: none;
        text-align: center;
    }

    .menu {
        margin: auto;
        padding: 10px 18px;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #90e0ef;
        background-color: #0096c7;
        border: none;
        border-radius: 12px;
        box-shadow: 0 6px #01161e;
    }

    .menu:hover {
        background-color: #0077b6
    }

    .menu:active {
        background-color: #0077b6;
        box-shadow: 0 5px #01161e;
        transform: translateY(4px);
    }

    body {
        background-color: #f1faee;
    }

    table {     
        margin: auto;
        padding-top: 10px;
    }

    h1 {
        color: black;
        text-align: center;
    }

    p, ul {
        color: black;
        margin-left: 15%;
        margin-right: 15%;
    }

    </style>
    {% endblock %}

    {% block body %}
        <tbody>
            <table>
                <tr>
                    <td colspan="4"> <img src="{{ asset('images/banner_sach.png') }}"width="1000px"></td>   
                </tr>

                <tr class="img">
                <td> <img src="{{ asset('images/sach1.png') }}" width="250px"></td>
                <td> <img src="{{ asset('images/sach2.png') }}" width="250px"></td>
                <td> <img src="{{ asset('images/sach3.png') }}" width="250px"></td>
                <td> <img src="{{ asset('images/sach4.png') }}" width="250px"></td>
                </tr>
            </table>
        </tbody>
    {% endblock %}
