{% extends 'base.html.twig' %}

{% block body %}
  <h1>Book Edit</h1>
  
  <ul>
  {{ form_start(edit_form) }}
  {{ form_widget(edit_form) }}
  <button input type="submit" value="Edit">Edit</button>
  {{ form_end(edit_form) }}
  </ul>

  <ul>
    <button><a href="{{ path('app_books_index') }}">Back to the list</a></button>
    
    <a onclick = "return confirm('Are you sure you want to delete?')">
      {{ form_start(delete_form) }}
      <button input type="submit" value="Delete">Delete</button>
      {{ form_end(delete_form) }}
    </a>
  </ul>
{% endblock %}