{% extends 'base.html.twig' %}

{% block body %}
  <h1>Product Edit</h1>

  {{ form_start(edit_form) }}
  {{ form_widget(edit_form) }}
  <input type="submit" value="Edit" />
  {{ form_end(edit_form) }}

  <ul>
    <li>
      <a href="{{ path('app_products_index') }}">Back to the list</a>
    </li>
    <li onclick = "return confirm('Are u sure u want to delete?')">
      {{ form_start(delete_form) }}
      <input type="submit" value="Delete">
      {{ form_end(delete_form) }}
    </li>
  </ul>
{% endblock %}