{% extends 'base.html.twig' %}

{% block body %}
  <h1>Product Edit</h1>

  {{ form_start(edit_form) }}
  {{ form_widget(edit_form) }}
  <button input type="submit" value="Edit" >Edit</button>
  {{ form_end(edit_form) }}


      <button><a href="{{ path('app_products_index') }}">Back to the list</a></button>
    <onclick = "return confirm('Are u sure u want to delete?')">
      {{ form_start(delete_form) }}
      <button input type="submit" value="Delete">Delete
      {{ form_end(delete_form) }}
      </button>

{% endblock %}