{% extends 'base.html.twig' %}

{% block title %}Suppliers{% endblock %}

{% block body %}
    <h1>Suppliers list</h1>
    <button class="create_btn"><a href="{{ path('app_suppliers_new') }}">Create new</a></button>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <th>SupplierName</th>
                <th>actions</th>
            </tr>
        </tbody>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.id }}</td>
                <td>{{ supplier.SupplierName }}</td>
                <td>
                    <button><a href="{{ path('app_suppliers_show', {'id': supplier.id}) }}" class="btn btn-success">show</a></button>
                    <button><a href="{{ path('app_suppliers_edit', {'id': supplier.id}) }}" class="btn btn-warning">edit</a></button>
                    <button class="delete_btn"><a href="{{ path('app_suppliers_delete', {'id': supplier.id}) }}" class='btn btn-danger' onclick = "return confirm('Are u sure u want to delete?')">Delete</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}