<!DOCTYPE html>
<html>
    {% block topmenu %}
        <header>
            <table class="main_menu">
                <tr>
                    <td class="menu"><a href="{{ path('app_home') }}">Home</a></td>
                    <td class="menu"><a href="{{ path('app_books_index') }}">Books</a></td>
                    <td class="menu"><a href="{{ path('app_orders_index') }}">Orders</a></td>
                    <td class="menu"><a href="{{ path('app_products_index') }}">Products</a></td>
                    <td class="menu"><a href="{{ path('app_suppliers_index') }}">Suppliers</a></td>
                    <td class="menu"><a href="{{ path('app_customers_index') }}">Customers</a></td>
                </tr>
            </table>
        </header>
    {% endblock %}
</html>

